# Environnements Python
.env
venv/
env/
hf-env-py/

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Logs
*.log

# Coverage
.coverage

# OS
Thumbs.db

# Poetry
poetry.lock